body {
  margin: 0;
  background-color: hsl(275, 100%, 97%);
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  font-family: "Work Sans", sans-serif;
  padding: 20px;
}

.faq-card {
  max-height: fit-content;
  height: fit-content;
  width: 90%;
  max-width: 520px;
  background-color: hsl(0, 100%, 100%);
  margin: 100px auto;
  border-radius: 7px;
  padding: 0 15px;
  box-shadow: 0;
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  body {
    background-image: url("./assets/images/background-pattern-mobile.svg");
    background-size: 100% 40vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    font-family: "Work Sans", sans-serif;
  }
}

.content {
  padding: 20px;
  padding-bottom: 40px;
}

.title {
  display: flex;
  gap: 25px;
  color: hsl(292, 42%, 14%);
}

.faq-title {
  font-size: 50px;
}

h2 {
  font-size: 16px;
}
.question {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.answer {
  display: none;
}
.plus {
  cursor: pointer;
}
.answer p {
  text-align: left;
  font-size: 15px;
  line-height: 23px;
  color: hsl(292, 16%, 49%);
}

.questions {
  display: flex;
  flex-direction: column;
}

.line {
  height: 1px;
  width: 90%;
  background-color: beige;
}
